html, body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    background-repeat: repeat-y;
    font-size: 1.2rem; /* Zwiększamy ogólny rozmiar czcionki na stronie */
}

main {
    width: calc(100vw - 250px); /* Odejmujemy szerokość menu */
    height: 100vh;
    max-width: 100vw;
    overflow-y: hidden;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

/* Ukrywamy pasek przewijania dla Chrome, Safari i Opera */
main::-webkit-scrollbar {
    display: none;
}

.side-menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    max-height: 100vh;
    width: 250px;
    background: #ffffff;
    z-index: 1000;
    overflow-y: auto;
    border-left: 5px solid #FFCF45; /* Dodana ramka */
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1); /* Lekki cień dla efektu głębi */
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #007986; /* Special color for the title */
    margin-bottom: 0px; /* Space below the title */
    text-align: center; /* Centered text */
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-menu li {
    margin: 10px 0;
}

.side-menu a {
    color: #A5A4A4;
    text-decoration: none;
    font-size: 20px; /* Pozostawiamy rozmiar czcionki menu */
    display: block;
    padding: 10px;
    text-align: center;
    transition: all 0.5s;
    position: relative;
}

.side-menu a:hover {
    color: #FFCF45;
}

.side-menu a.active {
    color: #FFCF45;
}

.side-menu a.active::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 100%;
    background-color: #FFCF45;
}

.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px;
    scroll-snap-align: start;
}

.scrollable-content {
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 50px;
    text-align: justify;
    font-size: 1.4rem;
}

.yellow { 
    background: #FFCF45;
    color: black;
    background-image: url('shapes/CCSC_kształt-02.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.light-turquoise { 
    background: #97BFBC;
    color: black;
    background-image: url('shapes/CCSC_kształt-06.png'); 
    background-size:auto;
    background-position: top;
    background-repeat: no-repeat;
}

.dark-turquoise {
    background: #007986;
    color: white;
    background-image: url('shapes/CCSC_kształt-07a.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.light { 
    background: #ffffff;
    color: rgb(0, 0, 0);
    background-image: url('shapes/CCSC_kształt-01r.png'); 
    background-size: 50%; /* Zmniejszenie obrazu do 50% */
    background-position: right;
    background-repeat: repeat-y;
}

.dark { 
    background: #1E1E1E;
    color: white;
    background-image: url('shapes/CCSC_kształt-06.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    margin-bottom: 50px;
    font-size: 2rem; /* Zwiększamy rozmiar czcionki nagłówka */
}

h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 1000;
    margin-bottom: 40px;
    font-weight: bold;

    font-size: 1.7rem; /* Zwiększamy rozmiar czcionki dla h2 */
}

p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    max-width: 1200px;
    line-height: 1.7;
    opacity: 0; 
    transform: translateY(-20px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
    font-size: 1.5rem; /* Zwiększamy rozmiar czcionki dla paragrafów */
}

logo_uj {
    max-width: 150px;

}

.side-menu .logo {
    text-align: center; /* Wyśrodkowanie logo w menu */
    margin-bottom: 30px; /* Dodanie marginesu pod logo */
}

.side-menu .logo img {
    width: 100%; /* Zmniejszenie rozmiaru logo w zależności od potrzeb */
    max-width: 150px; /* Ustalenie maksymalnej szerokości logo */
    height: auto; /* Utrzymanie proporcji logo */
}

.hamburger-menu {
    display: none; /* Domyślnie ukrywamy na dużych ekranach */
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
}

#home {
    position: relative; /* Ustalamy pozycję kontenera sekcji, aby logo było względem tej sekcji */
}

.logo_uj {
    position: absolute;
    top: 20px; /* Odległość od górnej krawędzi sekcji */
    left: 20px; /* Odległość od prawej krawędzi sekcji */
    list-style: none;
}

.logo_uj img {
    max-width: 100px; /* Opcjonalnie: Zmieniamy rozmiar logo */
    height: auto;
}

@media (max-width: 768px) {

    body{
        font-size: 1rem;
        overflow-x: hidden;
    }

    main {
        width: calc(100vw); /* Odejmujemy szerokość menu */
        height: 100vh;
        width: 100%;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
    }

    .scrollable-content {
        max-height: 85vh; /* Większy panel do przewijania */
        padding-right: 5px;
        padding-left: 5px;
        font-size: 1rem;
    }

    .side-menu {
        position: fixed;
        right: -100%; /* Ukrywamy menu całkowicie */
        width: 80%; /* Możemy dostosować szerokość */
        max-width: 300px;
        height: 100vh;
        background: rgba(255, 255, 255, 0.95);
        transition: right 0.3s ease-in-out;
    }

    .side-menu.active {
        right: 0; /* Pokazujemy menu */
    }

    .hamburger-menu {
        display: block; /* Pokazujemy przycisk na małych ekranach */
    }

    /* Blokujemy możliwość przewijania, gdy menu jest otwarte */
    body.menu-open {
        overflow: hidden;
    }
}
